In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0)+ ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4, 5, 6)
a, b, c = tup

In [16]:
b

5

In [17]:
tup = 4, 5, (6, 7)

In [18]:
a, b, (c, d) = tup

In [19]:
d

7

In [20]:
a, b = 1, 2

In [21]:
a

1

In [22]:
b

2

In [23]:
b, a = a, b

In [24]:
a

2

In [25]:
b

1

In [26]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a = {}, b = {}, c = {}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [27]:
values = 1, 2, 3, 4, 5

In [28]:
a, b, *rest = values

In [29]:
a, b

(1, 2)

In [30]:
*rest

SyntaxError: can't use starred expression here (<ipython-input-30-5a76c08199ae>, line 4)

In [32]:
rest

[3, 4, 5]

In [33]:
a = (1, 2, 2, 2, 3, 4, 2)

In [34]:
a.count(2)

4

In [35]:
a_list = [2, 3, 7, None]

In [36]:
tup = ('foo', 'bar', 'baz')

In [37]:
b_list = list(tup)

In [38]:
b_list

['foo', 'bar', 'baz']

In [39]:
b_list[1] = 'peekaboo'

In [40]:
b_list

['foo', 'peekaboo', 'baz']

In [41]:
gen = range(10)

In [42]:
gen

range(0, 10)

In [43]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
b_list.append('dwarf')

In [45]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [46]:
b_list.insert(1, 'red')

In [47]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [48]:
b_list.pop(2)

'peekaboo'

In [49]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [50]:
b_list.append('foo')

In [51]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [52]:
b_list.remove('foo')

In [53]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [54]:
'dwarf' in b_list

True

In [55]:
'dwarf' not in b_list

False

In [56]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [57]:
x = [4, None, 'foo']

In [58]:
x.extend([7, 8 , (2, 3)])

In [59]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [60]:
a = [7, 2, 5, 1, 3]

In [61]:
a.sort()

In [62]:
a

[1, 2, 3, 5, 7]

In [63]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [64]:
b.sort(key = len)

In [65]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [66]:
import bisect

In [67]:
c = [1, 2, 2, 2, 3, 4, 7]

In [68]:
bisect.bisect(c, 2)

4

In [69]:
bisect.bisect(c, 5)

6

In [70]:
bisect.insort(c, 6)

In [71]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [72]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [73]:
seq[1:5]

[2, 3, 7, 5]

In [74]:
seq[3:4] = [6, 3]

In [75]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [76]:
seq[:5]

[7, 2, 3, 6, 3]

In [77]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [78]:
seq[-4:]

[5, 6, 0, 1]

In [79]:
seq[-6 : -2]

[6, 3, 5, 6]

In [80]:
seq[::2]

[7, 3, 3, 6, 1]

In [81]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [82]:
some_list = ['foo', 'bar', 'baz']

In [83]:
mapping = {}

In [88]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [89]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [90]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [91]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [92]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [93]:
z = zip(seq1, seq2)

In [94]:
z

In [95]:
list(z)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [96]:
tup(z)

TypeError: 'tuple' object is not callable

In [97]:
dict(z)

{}

In [98]:
seq3 = [False, True]

In [99]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [100]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{} : {}, {}'.format(i, a, b))

0 : foo, one
1 : bar, two
2 : baz, three

In [101]:
pitchers = [('NO', 'RY'), ('RO', 'CL'), ('SC', 'CU')]

In [102]:
f_names, l_names = zip(*pitchers)

In [103]:
f_names

('NO', 'RO', 'SC')

In [104]:
l_names

('RY', 'CL', 'CU')

In [105]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [106]:
empty_dict = {}

In [107]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [108]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [109]:
d1[7] = 'an integer'

In [110]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [111]:
d1['b']

[1, 2, 3, 4]

In [112]:
'b' in d1

True

In [113]:
d1[5] = 'some value'

In [114]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [115]:
d1['yummy'] = 'another value'

In [116]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'yummy': 'another value'}

In [117]:
del d1[5]

In [118]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'yummy': 'another value'}

In [119]:
ret = d1.pop('yummy')

In [120]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [121]:
ret

'another value'

In [122]:
list(d1.keys())

['a', 'b', 7]

In [123]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [124]:
d1.update({'b' : 'foo', 'c' : 12})

In [125]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [126]:
mapping = {}

In [127]:
for key, value in zip(key_list, value_list):
    mapping[key] = value

NameError: name 'key_list' is not defined

In [128]:
mapping = dict(zip(range(5), reversed(range(5))))

In [129]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [130]:
words = ['apples', 'bat', 'bar', 'atom', 'book']

In [131]:
by_letter = {}

In [133]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [134]:
by_letter

{'a': ['apples', 'apples', 'atom'], 'b': ['bat', 'bat', 'bar', 'book']}

In [135]:
by_letter

{'a': ['apples', 'apples', 'atom'], 'b': ['bat', 'bat', 'bar', 'book']}

In [137]:
words = ['apple', 'bat', 'baz', 'atom', 'book']

In [138]:
by_letter = {}

In [140]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [141]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'baz', 'book']}

In [142]:
hash('string')

-7885114853609082004

In [143]:
hash((1, 2, (2, 3)))

1097636502276347782

In [144]:
d = {}

In [145]:
d[tuple([1, 2, 3])] = 5

In [146]:
d

{(1, 2, 3): 5}

In [147]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [148]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [149]:
a ={1, 2, 3, 4, 5}

In [150]:
b = {3, 4, 5, 6, 7, 8}

In [151]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [152]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [153]:
a.intersection(b)

{3, 4, 5}

In [154]:
a & b

{3, 4, 5}

In [155]:
c = a.copy()

In [156]:
c |= b

In [157]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [158]:
d = a.copy()

In [159]:
d &= b

In [160]:
d

{3, 4, 5}

In [161]:
my_data = [1, 2, 3, 4]

In [162]:
my_set = {tuple(my_data)}

In [163]:
my_set

{(1, 2, 3, 4)}

In [164]:
a_set = {1, 2, 3, 4, 5}

In [165]:
{1, 2, 3}.issubset(a_set)

True

In [166]:
a_set.issuperset({1, 2, 3})

True

In [167]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [168]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [169]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [170]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [171]:
loc_mapping = {va1 : index for index, val in enumerate(strings)}
loc_mapping

NameError: name 'va1' is not defined

In [172]:
loc_mapping = {va1 : index for index, va1 in enumerate(strings)}

In [173]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [174]:
all_data = [['JO', 'EM', 'MI', 'MA', 'ST'], ['MA', 'JU', 'JA', 'MA', 'PI']]

In [175]:
names_of_interest = []

In [178]:
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [179]:
names_of_interest

[]

In [180]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [181]:
flattened = [x for tup in some_tuples for x in tup]

In [182]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [183]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [184]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [185]:
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [186]:
my_function(5, 6, z = 0.7)

0.06363636363636363

In [187]:
my_function(3.14, 7, 3.5)

35.49

In [188]:
my_function(10, 20)

45.0

In [190]:
my_function(x = 5, y = 6, z = 7)

77

In [191]:
my_function(y = 6, x =5, z = 7)

77

In [192]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [193]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [194]:
a = None

In [195]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [196]:
print(a)

[]

In [197]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [198]:
a, b, c = f()

In [199]:
return_value = f()

In [201]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b' : b, "c" : c}

In [202]:
def short_function(x):
    return x * 2
equiv_anon = lambda x : x * 2

In [203]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x : x * 2)

[8, 0, 2, 10, 12]

In [204]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [205]:
strings.sort(key = lambda x : len(set(list(x))))

In [206]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [207]:
def add_numbers(x, y):
    return x + y
add_five = lambda y : add_numbers(5, y)

In [208]:
some_dict = {'a' : 1, 'b' : 2, 'c' : 3}

In [209]:
for key in some_dict:
    print(key)

a
b
c

In [210]:
dict_iterator = iter(some_dict)

In [211]:
dict_iterator

In [212]:
list(dict_iterator)

['a', 'b', 'c']

In [213]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [214]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [215]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [216]:
attempt_float('1.2345')

1.2345

In [217]:
attempt_float('something')

'something'

In [219]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

In [220]:
attempt_float((1, 2))

(1, 2)

In [221]:
f = open(path, 'w')

NameError: name 'path' is not defined

In [222]:
f = open(path, 'w')
try:
    write_to_file(f)
except:
    f.close()

NameError: name 'path' is not defined

In [223]:
%run examples/ipython_bug.py

ERROR:root:File `'examples/ipython_bug.py'` not found.

In [224]:
path = 'examples/segismundo.txt'
f = open(path)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [225]:
for lins in f:
    pass

TypeError: 'function' object is not iterable

In [226]:
lines = [x.rstrip() for x in open(path)]

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [227]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'